@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

* {
  margin: 0%;
  padding: 0%;
}

/* Home */

.nav {
  background-color: #010e38;
}

.Links{
  text-decoration: none;
  color: rgb(167, 167, 167);
}

.Links:hover{
  color: #fdfdfd !important;
}

.icon_links {
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}

.Picture {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border: 1px solid rgba(205, 95, 248, 0.7);
  box-shadow: 0px 0px 20px 2px rgba(234, 179, 255, 0.6);
  border-radius: 20px;
}

.Pic_div {
  width: 30%;
  margin: 0 auto;
  margin-top: 35px;
}

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  padding-bottom: 2%;
}

.Logo {
  font-family: 'Great Vibes', cursive;
  font-size: 1.875rem;
}

h1 {
  font-size: 2.3rem;
  font-family: 'Courgette', cursive;
}


.text {
  width: 55%;
  color: white;
  margin-top: 35px;
  margin: 0 auto;
}

.text_head {
  margin-top: 35px;
}

.responsibility {
  margin-top: 50px;
  width: 100%;
  color: white;
}

li {
  font-size: 1.8rem;
  font-family: 'Josefin Sans', sans-serif;
}

.text_intro {
  font-size: 1.8rem;
  font-family: 'Josefin Sans', sans-serif;
}


/* Resume */

.main_intro_div_two {
  background-image: url('Components/Assets/bg2.jpg');
  width: 100%;
  background-repeat: no- repeat;
  height: fit-content;
}

.Rif {
  padding-top: 35px;
}

.skill_div_main {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2%;
}


.tool_div {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 70%;
  justify-content: space-between;
  padding-bottom: 2%;
  padding-top: 1%;
}

.skill_div {
  display: flex;
  width: 70%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1%;
}

.Icons {
  padding: 1%;
  width: 10%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(205, 95, 248);
  box-shadow: 0px 0px 6px 4px rgba(205, 95, 248, 0.6);
  justify-content: center;
}

.Rif_head {
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Courgette', cursive;
}

.Icons>img {
  width: 8rem;
  padding: 5px;
}

.Rif_head_two {
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Courgette', cursive;
}

/* Portfolio */

.main_portfolio_div_two {
  background-image: url('Components/Assets/bg2.jpg');
  width: 100%;
  background-repeat: no- repeat;
  height: fit-content;
}

.portfolioHead{
  padding-top: 20px;
  font-family: 'Courgette', cursive;
  display: flex;
  width: 100%;
  justify-content:center;
}

.portfolioHead h1{
  font-size: 3rem;
}

.Portfolio_data {
  color: white;
}

.Card_antD{
  font-family: 'Josefin Sans', sans-serif;
}

.Portfolio_div {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ant-card-cover img {
  height: 300px;
  object-fit: cover;
}

@media screen and (max-width: 1500px) {}

@media only screen and (max-width: 1200px) {
  .main_portfolio_div_two {
    height: 400vh;
  }
}

@media only screen and (max-width: 1070px) {
  .Pic_div {
    width: 20%;
    margin: 0 auto;
    margin-top: 35px;
  }

  .text {
    width: 40%;
    color: white;
    margin-top: 35px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 990px) {
  h1 {
    font-size: 2rem;
  }

  li {
    font-size: 1.5rem;
  }

  .text_intro {
    font-size: 1.5rem;
  }

  .Pic_div {
    width: 15%;
    margin: 0 auto;
    margin-top: 35px;
  }

  .text {
    width: 35%;
    color: white;
    margin-top: 35px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 930px) {
  .main {
    width: 100%;
    display: block;
    flex: none;
    padding: 1%;
    padding-bottom: 2%;
  }

  .Pic_div {
    width: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
  }

  .text {
    width: 90%;
    color: white;
    margin-top: 35px;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 767px){
  .main_portfolio_div_two {
    height: fit-content;
  }

  .ant-card-cover img {
    height: 250px;
    object-fit: cover;
  }

  .portfolioHead h1{
    font-size: 1.8rem;
  }

  .portfolioHead{
    padding-top: 10px;
  }
}

@media only screen and (max-width: 530px) {
  .Rif_head {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Courgette', cursive;
  }

  .Rif_head_two {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Courgette', cursive;
  }

  .Icons {
    padding: 1%;
    width: 20%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(205, 95, 248);
    box-shadow: 0px 0px 6px 4px rgba(205, 95, 248, 0.6);
    justify-content: center;
  }

}

@media only screen and (max-width: 470px) {
  .main {
    width: 100%;
    display: block;
    flex: none;
    padding: 1%;
    padding-bottom: 2%;
  }

  .Pic_div {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
  }

  .text {
    width: 90%;
    color: white;
    margin-top: 35px;
    margin: 0 auto;
  }

  .Picture {
    width: 100%;
  }

}

@media only screen and (max-width: 360px) {
  .Rif_head {
    font-size: 2rem;
  }

  .Rif_head_two {
    font-size: 2rem;

  }

  .Icons {
    width: 25%;
  }

}


@media only screen and (max-width: 300px) {
  .Rif_head {
    font-size: 1.7rem;
  }

  .Rif_head_two {
    font-size: 2rem;

  }

  .Icons {
    width: 25%;
  }

}